  /* Tampilan untuk layar tablet */
  @media only screen and (max-width: 575px) {
    #form {

        position: fixed;
        text-align: left;
        border-radius: 20px;
        width: 350px;
        height: 450px;
        margin: 0 auto; /* Tengahkan form horizontal */
    }
    #inpo {
        width: 100vh;
    }
    #background{
      background-image:url('img/Background.png');
      background-size: cover;
      object-fit: cover;
      height: 100vh;
      background-position: left;
      align-items: center;
      justify-content: center;
    }
}

  /* Tampilan untuk layar tablet */
  @media only screen and (min-width: 576px) and (max-width: 991px) {
    #form {

        position: fixed;
        text-align: left;
        border-radius: 20px;
        width: 400px;
        height: 500px;
        margin: 0 auto; /* Tengahkan form horizontal */
    }
    #inpo {
        width: 100vh;
    }
    #background{
      background-image:url('img/Background.png');
      background-size: cover;
      object-fit: cover;
      height: 100vh;
      background-position: left;
      align-items: center;
      justify-content: center;
    }
}


 
 
 
 #background {
    background-image:url('img/Background.png');
    background-size: auto;
    object-fit: cover;
    height: 100vh;
    background-position: left;
}

#inpo {
    background: linear-gradient(to bottom, transparent 0%, black 99%);
}

#logo {
    padding-top: 150px;
}

#form {
    background-color: #f9f9f9;
}