.nav-pills li a:hover {
    background-color: rgba(255, 145, 76, 0.5);

}

#sidebar {
    width: 264px;
    border-color: #5C5E64;
    border-right: 2px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: 1px solid #5C5E64;
}

#logout {
    background-color: rgba(255, 145, 76, 1)
}