<!-- Modal Tambah Data -->
<div class="modal fade" id="tambahModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tambah Karyawan</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Formulir Tambah Data -->
            <form id="tambahForm">
                <div class="mb-3">
                    <label for="inputNama" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="inputNama" required>
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" required>
                </div>
                <div class="mb-3">
                    <label for="inputDivisi" class="form-label">Divisi</label>
                    <select class="form-select" id="inputDivisi" required>
                        <!-- NamaDevisi akan dimuat melalui JavaScript -->
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary"
                        onclick="simpanData()">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

</div>