.custom-sidebar.collapsed {
    width: 80px;
}

.custom-sidebar.collapsed .navbar-toggler-icon {
    display: block;
}

.nav-items {
    margin: 5px;
}

#sidebar {
    width: 300px;
    border-color: #5C5E64;
    border-right: 0.1px solid #505155;
    overflow-x: hidden;
    transition: width 0.3s ease;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #ff914c;
}

.nav-pills li a:hover {
    background-color: rgba(255, 145, 76, 0.5);
}

#logout {
    background-color: rgba(255, 145, 76, 1);
    color: #ffffff;
}

#logout:hover {
    background-color: rgb(255, 127, 48);
    border: 0.5px solid #5C5E64;
}

.navbar-toggler:hover {
    border: 0.5px solid #5C5E64;
}